<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>金台希照</title>
    <!-- Bootstrap -->
    <link href="__STATIC__/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/css/loaders.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/admin.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/normal.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

<nav id="myScrollspy" class="navbar navbar-hey navbar-static" role="navigation">
   <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" 
         data-target=".bs-js-navbar-scrollspy">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">金台希照</a>
   </div>
   <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
      <ul class="nav navbar-nav">
         <li class="dropdown active">
            <a href="#" id="navbarDrop1" class="dropdown-toggle" 
               data-toggle="dropdown">每日动态 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" 
               aria-labelledby="navbarDrop1">
               <li><a href="{:U('Index/commit')}" tabindex="-1">暖心留言</a></li>               
               <li><a href="{:U('Index/mail')}" tabindex="-1">早安安</a></li>
            </ul>
         </li>
          <li><a href="{:U('Index/social')}">社交消息</a></li>
         <li class="dropdown">
            <a href="#" id="navbarDrop1" class="dropdown-toggle" 
               data-toggle="dropdown">满满回忆 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" 
               aria-labelledby="navbarDrop1">
               <li><a href="#" tabindex="-1">金台</a></li>               
               <li><a href="#" tabindex="-1">希照</a></li>
            </ul>
         </li> 
         <li class="dropdown">
            <a href="#" id="navbarDrop1" class="dropdown-toggle" 
               data-toggle="dropdown">好多云云 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" 
               aria-labelledby="navbarDrop1">
               <li><a href="#" tabindex="-1">百度开放云</a></li>               
               <li><a href="http://yfgeek.tunnel.qydev.com/" tabindex="-1">私有树莓派</a></li>
            </ul>
         </li>                                
         <li class="dropdown">
            <a href="#" id="navbarDrop1" class="dropdown-toggle" 
               data-toggle="dropdown">设置 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" 
               aria-labelledby="navbarDrop1">
               <li><a href="#" tabindex="-1">邮箱</a></li>               
               <li><a href="#" tabindex="-1">谁赢</a></li>
               <li><a href="#" tabindex="-1">暖心</a></li>
               <li><a href="#" tabindex="-1">呓语</a></li>
            </ul>
         </li>
         <li><a href="../about">关于</a></li>
         <li><a href="{:U('Public/logout')}">注销</a></li>
      </ul>
   </div>
</nav>

<script>
function test(){
  {
  temp = $(".mailmain").html();
  testwin= open("", "testwin","status=no,menubar=yes,toolbar=no");
  testwin.document.open();
  testwin.document.write(temp);
  testwin.document.close();
 }
}
</script>
<div id="bd-pageheader">
      <div class="container">
      </div>
    </div>
<div class="container">

          <table class='table table-hover'>
          <thead>
                  <tr>
                    <th>时间</th>
                    <th>暖心呓语</th>
                    <th class="hidden-xs">地址</th>
                    <th class="hidden-xs">操作</th>
                    <th></th>
                  </tr>
          </thead>
    <volist name="list" id="zaocommit">
		<tr class="list{$zaocommit.id}">
		  <th>{$zaocommit.CDate}</th>
		  <td class='cc'>{$zaocommit.CConntent}</td>
		  <td class='hidden-xs'>
		    <button type='button' class='btn btn-info' title="{$zaocommit.CInfo}">{$location.$i}</button></td>
		  <td class='hidden-xs'>
		    <button type='button' class='btn btn-success edit' data-id='{$zaocommit.id}' data-toggle='modal' data-target='#editModal'>编辑</button></td>
		  <td class='hidden-xs'>
		    <button type='button' class='btn btn-danger del' data-id='{$zaocommit.id}' data-toggle='modal' data-target='#myModal'>删除</button></td>
		</tr>
    </volist>
        </table>
        <div name="page" id="pages">{$page}</div>
  </div>

</div>  

<!-- 删除 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          确认要删除吗？
        </h4>
      </div>
      <div class="modal-body">
        <div class="alert alert1 alert-danger alert-dismissible fade in" role="alert"
        style="display:none;">
          <h4>
            密码输错辣
          </h4>
          <p>
            记不住就不要删辣
          </p>
        </div>
        <input type="text" class="form-control pass" id="content" placeholder="请输入删除密码"
        name="content" maxlength="32">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          才不要！
        </button>
        <button type="button" class="btn btn-danger delit">
          哼！删吧
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 编辑 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">确认要编辑吗？</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert2 alert-danger alert-dismissible fade in" role="alert" style="display:none;">
        <h4>密码输错辣</h4>
        <p>快好好想想密码是什么哒</p>
      </div>
        <textarea class="form-control editcon" rows="3" placeholder="在这里写内容辣"></textarea>
        <input type="text" class="form-control pae" id="content" placeholder="请输入编辑密码" name="content" maxlength="32">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">算辣</button>
        <button type="button" class="btn btn-success editit">改辣</button>
      </div>
    </div>
  </div>
</div>
<footer class="mains">
        <p class="less-significant"><a href="http://yfgeek.com" target="_blank">Design by Ivan</a>
        </p>
  </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__STATIC__/bootstrap/bootstrap.min.js"></script>
<script src="__JS__/admin.js"></script>
<script type="text/javascript">
   $(function(){
   removeSection = function(e) {
      $(e).parents(".section").remove();
      $('[data-spy="scroll"]').each(function () {
         var $spy = $(this).scrollspy('refresh')
      });
   }
   $("#myScrollspy").scrollspy();
});
</script>
</body>
</html>