<include file="header" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    投资专区
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">投资专区</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Info boxes -->
                <div class="row">
                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>
                    <div class="info-balance"></div>


                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    所有选择
                                    <small>            【如操作后没有变化 请手动刷新页面】</small>
                                </h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>借款金额</th>
                                            <th>期数</th>
                                            <th>利率</th>
                                            <th>初始评级</th>
                                            <th>操作</th>
                                            <th>操作</th>

                                        </tr>
                                    </thead>
                                    <tbody class='zhcon'>
                                        <tr class='list{$data.ListingId}'>
                                            <td>
                                                <div class="loadingsb" style="padding:50px 0 0px 30px;display:none;">
                                                    <div class="loader">
                                                        <div class="loader-inner ball-scale-multiple">
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <p class="load" style="margin-left: 100px !important;padding-top:15px !important;font-size: 18px;">加载中...</p>
                                                        </div>
                                                    </div>
                                                </div></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> {$Think.config.VERSION}
                    </div>
                    <strong>©拉普拉斯妖</strong> 2017-2017
                </footer>
                          <div class="modal fade" id="modal-realdeal" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title">确认要投标吗?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <tbody><tr>
                                                    <th>属性</th>
                                                    <th>值</th>
                                                </tr>
                                                <tr>
                                                    <td>编号</td>
                                                    <td class="table-lid">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>可投金额</td>
                                                    <td class="table-amount">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>期限</td>
                                                    <td class="table-months">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>利率</td>
                                                    <td>
                                                        <span class="table-currentrate"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>剩余时间</td>
                                                    <td>
                                                        <span class="table-deadlinetime"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>信用评级</td>
                                                    <td>
                                                        <span class="table-creditcode"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>借款人姓名</td>
                                                    <td>
                                                        <span class="table-borrowname"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>性别</td>
                                                    <td>
                                                        <span class="table-gender"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>年龄</td>
                                                    <td>
                                                        <span class="table-age"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>学历</td>
                                                    <td>
                                                        <span class="table-educationdegree"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>毕业院校</td>
                                                    <td>
                                                        <span class="table-graduateschool"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>优惠券</td>
                                                    <td>
                                                        <select class="form-control input-coupon">
                                                          <option value="no">不使用优惠券</option>
                                                          <option value="yes">使用优惠券</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>投标金额</td>
                                                    <td>
                                                        <div class="input-group">
                                                          <span class="input-group-addon">￥</span>
                                                          <input type="text" class="form-control input-share">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary btn-cfm-realdeal">确认</button>
                                        </div>
                                    </div>
                                        <!-- /.modal-content -->
                                </div>
                                    <!-- /.modal-dialog -->
                            </div>

                            <div class="modal fade" id="modal-real-analysis" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title">数据分析</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="box box-widget widget-user-2">
                                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                                <div class="widget-user-header bg-ay">
                                                    <div class="widget-user-image">
                                                        <img class="img" src="__STATIC__/dist/img/money.png" >
                                                    </div>
                                                    <h3 class="widget-user-username sp-hz">分析中...</h3>
                                                    <h5 class="widget-user-desc">以上分析结果基于神经网络算法进行逾期率预测，供投资者参考。</h5>
                                                </div>
                                                <div class="box-footer no-padding">
                                                    <ul class="nav nav-stacked">
                                                        <li><a href="#">以下图表是基于历史数据生成的分布图，高亮部分显示为该标的情况相比于近期历史数据。推荐使用以下图与其它理想标的图比对。</a></li>
                                                        <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i> 当前借款金额<span class="pull-right badge bg-aqua list-amount">加载中</span></a></li>
                                                        <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i> 借款额度累计<span class="pull-right badge bg-aqua list-amounttotal">加载中</span></a></li>
                                                        <li><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> 当前借款利率<span class="pull-right badge bg-green list-rate">加载中</span></a></li>
                                                        <li><a href="#"><i class="fa fa-tag" aria-hidden="true"></i> 借款利率累计<span class="pull-right badge bg-green list-ratetotal">加载中</span></a></li>
                                                        <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> 当前信用评级<span class="pull-right badge bg-blue list-credit">加载中</span></a></li>
                                                        <li><a href="#">更多分析情况<span class="pull-right badge bg-grey">开发中</span></a></li>
                                                    <!-- <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                                                    <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li> -->

                                                    </ul>
                                                </div>
                                            </div>
                                                <div id="amount-diagram" style="width: 850px;height:500px;"></div>
                                                <div id="rate-diagram" style="width: 850px;height:500px;"></div>
                                                <div id="credit-diagram" style="width: 850px;height:500px;"></div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>




                <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
                <div class="control-sidebar-bg"></div>
            </div>
            <!-- ./wrapper -->
            <!-- jQuery 2.2.3 -->
            <script src="__STATIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
            <script src="__STATIC__/dist/js/header.js"></script>

            <!-- Bootstrap 3.3.6 -->
            <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
            <!-- DataTables -->
            <script src="__STATIC__/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="__STATIC__/plugins/datatables/dataTables.bootstrap.min.js"></script>
            <!-- SlimScroll -->
            <script src="__STATIC__/plugins/slimScroll/jquery.slimscroll.min.js"></script>
            <!-- FastClick -->
            <script src="__STATIC__/plugins/fastclick/fastclick.js"></script>
            <!-- AdminLTE App -->
            <script src="__STATIC__/dist/js/app.min.js"></script>
            <!-- This page's js -->
            <script src="__STATIC__/dist/js/real.js"></script>
            <!-- page script -->
            <!-- <script src="__STATIC__/dist/js/simulate.js"></script> -->

        </body>
        </html>
