<include file="header" />
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    总览
                    <small>大厅</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">新手模拟</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">



                <div class="row">

                    <div class="col-xs-12">

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">所有选择</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">昵称更改</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-refresh">重建缓存</button>
                                <button type="button" class="btn btn-primary btn-login">清空授权</button>
                                <button type="button" class="btn btn-primary btn-login">拍拍贷授权</button>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>©拉普拉斯团队</strong> 2017-2017
        </footer>


        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>


    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="__STATIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="__STATIC__/dist/js/header.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="__STATIC__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__STATIC__/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="__STATIC__/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="__STATIC__/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="__STATIC__/dist/js/app.min.js"></script>
    <script>
    $(function () {
        $(".btn-refresh").click(function(){
            $.getJSON("../api/update", function(json){
                alert(json.content);
            });
        });
        $(".btn-login").click(function(){
            window.location.href="https://ac.ppdai.com/oauth2/login?AppID=5223d676d9dd48f5bf486b73d60e206c&ReturnUrl=http://ppd.yfgeek.com/index/setting";
        });
    });
    </script>
</body>
</html>
