<include file="header" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    总览
                    <small>大厅</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">新手模拟</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            <span class="info-box-icon"><i class="fa fa-credit-card"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">账户余额</span>
                                <span class="info-box-number"> {$user.balance}</span>


                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <volist name="bid" id="data">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="info-box bg-green">
                                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">编号 {$data.listingid}</span>
                                    <span class="info-box-text">起始日期:{$data.biddate}</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%"></div>
                                    </div>
                                    <span class="progress-description">
                                        还剩10期
                                    </span>
                                </div>
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </volist>

                    <!-- /.col -->
                </div>



                <div class="row">

                    <div class="col-xs-12">

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">当前可投资标</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>借款金额</th>
                                            <th>期数</th>
                                            <th>利率</th>
                                            <th>初始评级</th>
                                            <th>操作</th>
                                            <th>操作</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <volist name="list" id="data">
                                            <tr class='list{$data.ListingId}'>
                                                <td>{$data.ListingId}</td>
                                                <td>{$data.Amount}</td>
                                                <td>{$data.Months}</td>
                                                <td>{$data.CurrentRate}%</td>
                                                <td>{$data.CreditCode}</td>
                                                <td><button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#modal-analysis">分析</button></td>
                                                <td><button type="button" class="btn btn-block btn-info btn-sm btn-deal" data-lid="{$data.ListingId}" data-toggle="modal" data-target="#modal-deal" >投资</button></td>

                                            </tr>
                                        </volist>
                                        <!--
                                        <tfoot>
                                        <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>©拉普拉斯妖</strong> 2017-2017
    </footer>


    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<div class="modal fade" id="modal-deal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认要投标吗?</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tbody><tr>
                            <th>属性</th>
                            <th>值</th>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td class="table-lid">
                            </td>
                        </tr>
                        <tr>
                            <td>可投金额</td>
                            <td class="table-amount">
                            </td>
                        </tr>
                        <tr>
                            <td>期数</td>
                            <td class="table-months">
                            </td>
                        </tr>
                        <tr>
                            <td>利率</td>
                            <td>
                                <span class="table-currentrate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>生效时间</td>
                            <td>
                                <span class="table-auditingtime"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>信用评级</td>
                            <td>
                                <span class="table-creditcode"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>年龄</td>
                            <td>
                                <span class="table-age"></span>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-dealcfm">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-analysis" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">数据分析</h4>
                    </div>
                    <div class="modal-body">
                        <div id="amount-diagram" style="width: 850px;height:500px;"></div>
                        <div id="rate-diagram" style="width: 850px;height:500px;"></div>
                        <div id="credit-diagram" style="width: 850px;height:500px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="__STATIC__/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="__STATIC__/dist/js/header.js"></script>

    <!-- Bootstrap 3.3.6 -->
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="__STATIC__/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="__STATIC__/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="__STATIC__/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="__STATIC__/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="__STATIC__/dist/js/app.min.js"></script>
    <!-- page script -->
    <script src="__STATIC__/dist/js/simulate.js"></script>

</body>
</html>
